* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.slide {
    padding: 20px;
}
.card {
  height: 30rem;
  width: 20rem;
  padding: 15px;
  display: flex;
  flex-direction: column;
  gap: 15px;
  border-radius: 10px;
  box-shadow: -2px 2px 16px 0px black;
}

.card > img {
    height: 50%;
    border-radius: 10px;
}

.card > h4 {
    background-color: #4A4A4A;
    color: white;
    padding: 10px;
    border-radius: 10px;
}
.card > p {
    max-height: 30%;
    overflow: auto;
}